.pass{
    margin-top: 20px;
    margin-left:20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pass a{
    
    text-decoration: none;

}

.pass input[type=password] {
    height: 30px;
}

.pass input[type=submit] {
    margin-top: 20px;
}

