.container {
    overflow:hidden;
}
.content {
    width:200px;
    height:80px;
    background-color:gainsboro;
    float:left;
}
.content img{
    width:80px;
    height:80px;
}

.content a{
    text-decoration:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:inline-block;
    padding-top:2px;
    width:100px;
    height:25px;
    color:black;
}

.inf {
    float:left;
    width:800px;
    height: 100px;
    margin-left: 50px;
}

.inf input[type=submit]{
    color: white;
    border-radius: 6px;
    border: 1px solid;
    background-color:lightskyblue;
}

.cont {
    overflow:hidden;
}



.vertical-menu {
  width: 200px; /* Set a width if you like */
  margin-top:10px;
  margin-left:13px;
  float:left;
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

.target {
    margin-left: 50px;
    margin-top:20px;
    float:left;
}

.cont target input[type=submit] {
    color: white;
    border-radius: 6px;
    border: 1px solid;
    background-color: lightskyblue;
}


    

